.my-content {
background-color: #1C1C1C;
color: #fff;

}

.my-card-img {
    height: 100px;
    width: 100px;
}

.blue-section {
background-color: #1E82F6;
min-height: 100px;
max-height: 150px;
display: flex;
justify-content: space-around;
align-items: center;
}

.my-card {
display: flex;
height: 60px;
align-items: center;
color: #fff;

}

.blue-section img {
height: 100%;
display: flex;
padding: 0.5rem;
}